@import '../../assets';

.full-content-container{
    @include oneview-container;
    background-color: $background-color;

    .mid-content-container{

        .content-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

}