@import '../../assets';

.full-content-container{
    @include oneview-container;
    background-color: $background-color;

    form{
        &>*{
            color: $background-color-secondary;
            &>*{
                color: $background-color-secondary;
            }
        }
    }

}