$std-radius: 4px;

$font-size: clamp(15px, 1.5vw, 18px);
$text-color: rgb(39, 188, 214);
$text-color-secondary: #a4a4a9;
$text-shadow: 1px 1.25px 5px rgba(0, 0, 0, 0.3);

$main-theme-color:#3ade6b;
$background-color: #643ae2;
$background-color-secondary: #7f60e4;

$std-border: 2px solid $main-theme-color;

$margin-full-container-mobile: clamp(6.25px, 4%, 25px) clamp(5px, 3%, 20px);
$margin-mid-container-mobile: clamp(5px, 4%, 20px) clamp(4px, 2.4%, 16px);
$margin-content-mobile: clamp(8px, 4%, 33px) clamp(15px, 20.4%, 3vw);

$margin-full-container: clamp(6.25px, 4%, 25px) clamp(5px, 3%, 20px);
$margin-mid-container: clamp(5px, 4%, 20px) clamp(30px, 2.4%, 300px);
$margin-content: clamp(8px, 4%, 33px) clamp(15px, 20.4%, 3vw);

$padding-content-container: clamp(30px, 5vh, 100px) clamp(4px, 5vw, 80px);

$std-transition: all 0.4s ease-in-out;