@import '../common';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Titillium+Web&display=swap');
$font-stack:'Roboto', sans-serif;

*{
    font-family: $font-stack;
    color: $text-color;
    text-shadow: $text-shadow;
    font-size: $font-size;
}

h1 {
    font-size: 1.75rem
}

h2 {
    font-size: 1.5rem
}

h3 {
    font-size: 1.25rem
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
$font-logo:'Kdam Thmor Pro', 'Roboto', cursive, sans-serif;
